/*.sass*/

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

#ignore the public directory
#public/**
/*config/database.yml*/
.sass-cache
*.swp

images/noise.png
images/hone.png
images/prite_core_services_rokivo.png
images/icn_hp-process.png
images/aga-bg-2.jpg
images/bg_top.jpg
