@font-face {
  font-family: 'GTHaptikOblique';
  src: url('fonts/GTHaptikBlack-Oblique.eot');
  src: url('fonts/GTHaptikBlack-Oblique.eot?#iefix') format('embedded-opentype'),
  url('fonts/GTHaptikBlack-Oblique.woff') format('woff'),
  url('fonts/GTHaptikBlack-Oblique.ttf')  format('truetype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'GTHaptikRotalic';
  src: url('fonts/GTHaptikThin-Rotalic.eot');
  src: url('fonts/GTHaptikThin-Rotalic.eot?#iefix') format('embedded-opentype'),
  url('fonts/GTHaptikThin-Rotalic.woff') format('woff'),
  url('fonts/GTHaptikThin-Rotalic.ttf')  format('truetype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'GTHaptik';
  src: url('fonts/GTHaptik-Medium.eot');
  src: url('fonts/GTHaptik-Medium.eot?#iefix') format('embedded-opentype'),
  url('fonts/GTHaptik-Medium.woff') format('woff'),
  url('fonts/GTHaptik-Medium.ttf')  format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'GTHaptikRotalic';
  src: url('fonts/GTHaptikBlack-Rotalic.eot');
  src: url('fonts/GTHaptikBlack-Rotalic.eot?#iefix') format('embedded-opentype'),
  url('fonts/GTHaptikBlack-Rotalic.woff') format('woff'),
  url('fonts/GTHaptikBlack-Rotalic.ttf')  format('truetype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'GTHaptikOblique';
  src: url('fonts/GTHaptikBold-Oblique.eot');
  src: url('fonts/GTHaptikBold-Oblique.eot?#iefix') format('embedded-opentype'),
  url('fonts/GTHaptikBold-Oblique.woff') format('woff'),
  url('fonts/GTHaptikBold-Oblique.ttf')  format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'GTHaptikLazerRotalic';
  src: url('fonts/GTHaptikLazer-Rotalic.eot');
  src: url('fonts/GTHaptikLazer-Rotalic.eot?#iefix') format('embedded-opentype'),
  url('fonts/GTHaptikLazer-Rotalic.woff') format('woff'),
  url('fonts/GTHaptikLazer-Rotalic.ttf')  format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'GTHaptikLazerOblique';
  src: url('fonts/GTHaptikLazer-Oblique.eot');
  src: url('fonts/GTHaptikLazer-Oblique.eot?#iefix') format('embedded-opentype'),
  url('fonts/GTHaptikLazer-Oblique.woff') format('woff'),
  url('fonts/GTHaptikLazer-Oblique.ttf')  format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'GTHaptikRotalic';
  src: url('fonts/GTHaptikMedium-Rotalic.eot');
  src: url('fonts/GTHaptikMedium-Rotalic.eot?#iefix') format('embedded-opentype'),
  url('fonts/GTHaptikMedium-Rotalic.woff') format('woff'),
  url('fonts/GTHaptikMedium-Rotalic.ttf')  format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'GTHaptikOblique';
  src: url('fonts/GTHaptikLight-Oblique.eot');
  src: url('fonts/GTHaptikLight-Oblique.eot?#iefix') format('embedded-opentype'),
  url('fonts/GTHaptikLight-Oblique.woff') format('woff'),
  url('fonts/GTHaptikLight-Oblique.ttf')  format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'GTHaptikRotalic';
  src: url('fonts/GTHaptikBold-Rotalic.eot');
  src: url('fonts/GTHaptikBold-Rotalic.eot?#iefix') format('embedded-opentype'),
  url('fonts/GTHaptikBold-Rotalic.woff') format('woff'),
  url('fonts/GTHaptikBold-Rotalic.ttf')  format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'GTHaptikOblique';
  src: url('fonts/GTHaptikRegular-Oblique.eot');
  src: url('fonts/GTHaptikRegular-Oblique.eot?#iefix') format('embedded-opentype'),
  url('fonts/GTHaptikRegular-Oblique.woff') format('woff'),
  url('fonts/GTHaptikRegular-Oblique.ttf')  format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'GTHaptik';
  src: url('fonts/GTHaptik-Bold.eot');
  src: url('fonts/GTHaptik-Bold.eot?#iefix') format('embedded-opentype'),
  url('fonts/GTHaptik-Bold.woff') format('woff'),
  url('fonts/GTHaptik-Bold.ttf')  format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'GTHaptikLazer';
  src: url('fonts/GTHaptik-Lazer.eot');
  src: url('fonts/GTHaptik-Lazer.eot?#iefix') format('embedded-opentype'),
  url('fonts/GTHaptik-Lazer.woff') format('woff'),
  url('fonts/GTHaptik-Lazer.ttf')  format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'GTHaptik';
  src: url('fonts/GTHaptik-Black.eot');
  src: url('fonts/GTHaptik-Black.eot?#iefix') format('embedded-opentype'),
  url('fonts/GTHaptik-Black.woff') format('woff'),
  url('fonts/GTHaptik-Black.ttf')  format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'GTHaptikRotalic';
  src: url('fonts/GTHaptikRegular-Rotalic.eot');
  src: url('fonts/GTHaptikRegular-Rotalic.eot?#iefix') format('embedded-opentype'),
  url('fonts/GTHaptikRegular-Rotalic.woff') format('woff'),
  url('fonts/GTHaptikRegular-Rotalic.ttf')  format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'GTHaptikOblique';
  src: url('fonts/GTHaptikThin-Oblique.eot');
  src: url('fonts/GTHaptikThin-Oblique.eot?#iefix') format('embedded-opentype'),
  url('fonts/GTHaptikThin-Oblique.woff') format('woff'),
  url('fonts/GTHaptikThin-Oblique.ttf')  format('truetype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'GTHaptik';
  src: url('fonts/GTHaptik-Thin.eot');
  src: url('fonts/GTHaptik-Thin.eot?#iefix') format('embedded-opentype'),
  url('fonts/GTHaptik-Thin.woff') format('woff'),
  url('fonts/GTHaptik-Thin.ttf')  format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'GTHaptikOblique';
  src: url('fonts/GTHaptikMedium-Oblique.eot');
  src: url('fonts/GTHaptikMedium-Oblique.eot?#iefix') format('embedded-opentype'),
  url('fonts/GTHaptikMedium-Oblique.woff') format('woff'),
  url('fonts/GTHaptikMedium-Oblique.ttf')  format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'GTHaptik';
  src: url('fonts/GTHaptik-Light.eot');
  src: url('fonts/GTHaptik-Light.eot?#iefix') format('embedded-opentype'),
  url('fonts/GTHaptik-Light.woff') format('woff'),
  url('fonts/GTHaptik-Light.ttf')  format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
	font-family: 'GTWalsheimPro';
	src: url('fonts/GTWalsheimPro-Black.eot');
	src: url('fonts/GTWalsheimPro-Black.eot?#iefix') format('embedded-opentype'),
		url('fonts/GTWalsheimPro-Black.woff') format('woff'),
		url('fonts/GTWalsheimPro-Black.ttf')  format('truetype');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'GTWalsheimProOblique';
	src: url('fonts/GTWalsheimProThin-Oblique.eot');
	src: url('fonts/GTWalsheimProThin-Oblique.eot?#iefix') format('embedded-opentype'),
		url('fonts/GTWalsheimProThin-Oblique.woff') format('woff'),
		url('fonts/GTWalsheimProThin-Oblique.ttf')  format('truetype');
	font-weight: 100;
	font-style: italic;
}
@font-face {
	font-family: 'GTWalsheimPro';
	src: url('fonts/GTWalsheimPro-Medium.eot');
	src: url('fonts/GTWalsheimPro-Medium.eot?#iefix') format('embedded-opentype'),
		url('fonts/GTWalsheimPro-Medium.woff') format('woff'),
		url('fonts/GTWalsheimPro-Medium.ttf')  format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'GTWalsheimProUltra';
	src: url('fonts/GTWalsheimProUltra-Light.eot');
	src: url('fonts/GTWalsheimProUltra-Light.eot?#iefix') format('embedded-opentype'),
		url('fonts/GTWalsheimProUltra-Light.woff') format('woff'),
		url('fonts/GTWalsheimProUltra-Light.ttf')  format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'GTWalsheimPro';
	src: url('fonts/GTWalsheimPro-Bold.eot');
	src: url('fonts/GTWalsheimPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/GTWalsheimPro-Bold.woff') format('woff'),
		url('fonts/GTWalsheimPro-Bold.ttf')  format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'GTWalsheimPro';
	src: url('fonts/GTWalsheimPro-Light.eot');
	src: url('fonts/GTWalsheimPro-Light.eot?#iefix') format('embedded-opentype'),
		url('fonts/GTWalsheimPro-Light.woff') format('woff'),
		url('fonts/GTWalsheimPro-Light.ttf')  format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'GTWalsheimProOblique';
	src: url('fonts/GTWalsheimProRegular-Oblique.eot');
	src: url('fonts/GTWalsheimProRegular-Oblique.eot?#iefix') format('embedded-opentype'),
		url('fonts/GTWalsheimProRegular-Oblique.woff') format('woff'),
		url('fonts/GTWalsheimProRegular-Oblique.ttf')  format('truetype');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'GTWalsheimProOblique';
	src: url('fonts/GTWalsheimProMedium-Oblique.eot');
	src: url('fonts/GTWalsheimProMedium-Oblique.eot?#iefix') format('embedded-opentype'),
		url('fonts/GTWalsheimProMedium-Oblique.woff') format('woff'),
		url('fonts/GTWalsheimProMedium-Oblique.ttf')  format('truetype');
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: 'GTWalsheimProUltraOblique';
	src: url('fonts/GTWalsheimProUltraBold-Oblique.eot');
	src: url('fonts/GTWalsheimProUltraBold-Oblique.eot?#iefix') format('embedded-opentype'),
		url('fonts/GTWalsheimProUltraBold-Oblique.woff') format('woff'),
		url('fonts/GTWalsheimProUltraBold-Oblique.ttf')  format('truetype');
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: 'GTWalsheimProUltra';
	src: url('fonts/GTWalsheimProUltra-Bold.eot');
	src: url('fonts/GTWalsheimProUltra-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/GTWalsheimProUltra-Bold.woff') format('woff'),
		url('fonts/GTWalsheimProUltra-Bold.ttf')  format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'GTWalsheimPro';
	src: url('fonts/GTWalsheimPro-Thin.eot');
	src: url('fonts/GTWalsheimPro-Thin.eot?#iefix') format('embedded-opentype'),
		url('fonts/GTWalsheimPro-Thin.woff') format('woff'),
		url('fonts/GTWalsheimPro-Thin.ttf')  format('truetype');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'GTWalsheimPro';
	src: url('fonts/GTWalsheimPro-Regular.eot');
	src: url('fonts/GTWalsheimPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/GTWalsheimPro-Regular.woff') format('woff'),
		url('fonts/GTWalsheimPro-Regular.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GTWalsheimProUltraOblique';
	src: url('fonts/GTWalsheimProUltraLight-Oblique.eot');
	src: url('fonts/GTWalsheimProUltraLight-Oblique.eot?#iefix') format('embedded-opentype'),
		url('fonts/GTWalsheimProUltraLight-Oblique.woff') format('woff'),
		url('fonts/GTWalsheimProUltraLight-Oblique.ttf')  format('truetype');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'GTWalsheimProOblique';
	src: url('fonts/GTWalsheimProBlack-Oblique.eot');
	src: url('fonts/GTWalsheimProBlack-Oblique.eot?#iefix') format('embedded-opentype'),
		url('fonts/GTWalsheimProBlack-Oblique.woff') format('woff'),
		url('fonts/GTWalsheimProBlack-Oblique.ttf')  format('truetype');
	font-weight: 900;
	font-style: italic;
}
@font-face {
	font-family: 'GTWalsheimProOblique';
	src: url('fonts/GTWalsheimProLight-Oblique.eot');
	src: url('fonts/GTWalsheimProLight-Oblique.eot?#iefix') format('embedded-opentype'),
		url('fonts/GTWalsheimProLight-Oblique.woff') format('woff'),
		url('fonts/GTWalsheimProLight-Oblique.ttf')  format('truetype');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'GTWalsheimProOblique';
	src: url('fonts/GTWalsheimProBold-Oblique.eot');
	src: url('fonts/GTWalsheimProBold-Oblique.eot?#iefix') format('embedded-opentype'),
		url('fonts/GTWalsheimProBold-Oblique.woff') format('woff'),
		url('fonts/GTWalsheimProBold-Oblique.ttf')  format('truetype');
	font-weight: bold;
	font-style: italic;
}
