<footer>
  <div class="cta">
    <div class="wrapper">
      <a href="#" class="button call-to-action">
        <img src="/images/logo.svg" alt="logo" />
      </a>
    <div class="clearfix"></div>
    </div>
  </div>
  <div class="nav">
    <div class="wrapper">
      <div class="name">
        <h1>zachariah ngonyani</h1>
      </div>
      <div class="navigation">
        <ul>
          <li><a href="#">home</a></li>
          <li><a href="#">about</a></li>
          <li><a href="#">projects</a></li>
          <li><a href="#">blog</a></li>
          <li><a href="#">contact</a></li>
        </ul>
      </div>
      <div class="copyright"></div>
    </div>
  </div>
</footer>
