<div class="header">
  {% include new_nav.html %}
  <div class="wrapper">
    <div class="container">
      <p>Hello, i am</p>
      <a class="link link-zack" href="#"><span class="animated fadeInLeft">Zachariah</span> <span class="animated slideInLeft">Ngonyani</span></a>
      <p class="baseline">A Rubyst <em>&amp;</em> Front-end Web Developer from Tanzania</p>
      <a class="button round" href="#about">About me <em>&amp;</em> contact</a>
      <div class="clearfix"></div>
      <div class="clearfix"></div>
      <div class="social">
        <ul>
          <li><i class="fa fa-inbox"></i><a href="#">zachariahn@gmail.com</a></li>
          <li><i class="fa fa-github"></i><a href="https://github.com/zechtz/">github/zechtz</a></li>
          <li><i class="fa fa-twitter"></i><a href="https://twitter.com/zechtz">twitter/zechtz</a></li>
        </ul>
      </div>
      <a class="button round view-project" href="#">view my skills</a>
    </div>
  </div>
</div>
