<div class="main-navigation">
  <div class="logo-container">
    <a href="/">
      <div class="logo"></div>
    </a>
  </div>
    <div class="phone-container">
      <span class="phone-icon"></span>
    </div>
  <div class="button_container" id="toggle">
    <span class="top"></span>
    <span class="middle"></span>
    <span class="bottom"></span>
  </div>
  <div class="overlay" id="overlay">
    <nav class="overlay-menu">
      <ul>
        <li ><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#">Work</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </div>
</div>
