<div class="main-navigation">
  <div class="logo-container">
    <a href="/">
      <div class="logo">
        <img src="/images/avatar_1.png" alt="logo">
      </div>
    </a>
  </div>
  <div class="phone-container">
    <i class="fa fa-phone"></i>
  </div>
  <div class="button-container" id="toggle">
    <span class="top"></span>
    <span class="middle"></span>
    <span class="bottom"></span>
  </div>
  <div class="overlay" id="overlay">
    <nav class="overlay-menu">
      <ul>
        <li ><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#blog">Blog</a></li>
        <li><a href="#">Projects</a></li>
      </ul>
    </nav>
  </div>
  <div class="clearfix"></div>
</div>
