<div class="main-navigation">
  <div class="wrapper">
    <nav class="overlay-nav">
      <div class="hamburger-button">
        <a class="btn-open" href="#"></a>
      </div>
    </nav>
    <div class="overlay">
      <div class="wrap">
        <ul class="wrap-nav">
          <li><a href="#">About</a>
          <li><a href="#">About Company</a></li>
          <li><a href="#">Designers</a></li>
          <li><a href="#">Developers</a></li>
          <li><a href="#">Pets</a></li>
          <li><a href="#">Services</a>
        </ul>
      </div>
    </div>
  </div>
</div>
