/* ===========================================
THE USUAL STUFF BODY, RESET ETC
=========================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  *behavior: url(/assets/boxsizing.htc);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
body, html{
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  -webkit-font-smoothing: antialiased;
  background: #fff;
  color: #444;
  font: 15px/1.6 'anisette-std-petite-2','museo-slab';
}
p{
  font: 15px/1.6 'anisette-std-petite-2','museo-slab','GTWalsheimPro', 'sans-serif';
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
img {
  display: block;
  max-width: 100%
}
.lte7 img {
  -ms-interpolation-mode: bicubic;
}
iframe {
  display: block;
  max-width: 100%
}
a {
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  color: #006ea5;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}
a:hover {
  color: #0493da;
  text-decoration: none;
}
h1, .h1 {
  font: 52px/62px 'GTHaptik',OpenSansRegular, Helvetica, Arial, sans-serif;
  margin-bottom: 15px;
}
h2, .h2 {
  font: 20px/1.125 'GTHaptik',OpenSansRegular, Helvetica, Arial, sans-serif;
  margin-bottom: 5px;
}
h3, .h3 {
  font: 15px/1 'GTHaptik',OpenSansRegular, Helvetica, Arial, sans-serif;
  margin-bottom: 2px;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  display: block;
}

.wrapper{
  margin: 0 auto;
  width: 90%;
}
