$green-button: #8dc63f;
$green-button-hover: #80b636;
$nice-green: #59ba47;
$just-green: #65B41A;
$nice-green-hover: #38ab41;
$grey: #9f9fa0;
$antolian-khaki: #7B8372;
$dark-khaki: #353D2C;
$soft-yellow: #F9F6AD;
$sweet-green: #75AA5C;
$retro-yellow: #F5E584;
$footer-color: #3d4351;
$maroon: #792c5c;
$blue-button: #0B8393;
$admin-topbar: #167BBB;
$green-color: #0D6B01;
// box colors
$aqua: #00c0ef;
$green: #00a65a;
$yellow: #f39c12;
$red: #dd4b39;
$background: #f4efdd;
$solarized-light: #ECE7D5;

$color-background: #F5F5F5;
$color-main: #FF5252;
$color-active: #FFF;
$color-link: #FFF;

$button-height: 27px;
$button-width: 35px;
